@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&display=swap');

body{
    background-color: #fae1dd;
}

.title{
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
}

.me{
    scale: 1;
}

.me img{
    width: 300px;
}


.flowers{
    text-align: center;
    width: 125px;
    height: 125px;

}

.flowers img{
    width: 200px;
    animation: moveUpDown 2s infinite ease-in-out;
    display: none;
}



.button-33{
  background-color: pink;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: "Dosis";
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 125px
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.text{
    width: 350px;
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    text-align: center;
    
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
}


.gentlemen{
    display: flex;
    justify-content: center;
    
}

.flexim{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.end{
    font-family: "Dancing Script", cursive;
    font-size: 15px;
    margin-top: 25px;
}

@media(min-width:350px){
    .me img{
        width: 215px;
    }

    .flowers img{
        width: 125px;
    }

    .text{
        font-size: 20px;
        width: 125px;
    }

    .title{
        font-size: 40px;
        
    }
}

